.btn {
  color: #05c2d1;
}

.bg-teal {
  color: #FFF;
}

.btn:hover {
  background-color: transparent;
}

.link-button {
  color: #FFF;
  background-color: #05c2d1;
  padding: .5em;
  margin-bottom: .5em;
  display: inline;
}
